
body{
    margin: 0;
    background-color: #3f3f44;
}

h1{
    background-color: #cceabb;
    margin: 0;
    padding: 2% 0;
}

.inline{
    display: inline-block;
}

.score-line{
    padding: 2% 0;
    font-size: 3rem;
}

.display-btn, .btn{
    font-size: 4rem;
    display: inline-block;
    margin: 3% 2%;
    background-color: white;
    border-radius: 100%;
    width: 7%;
    height: 8%;
}

.result{
    font-size: 4rem;
    width: 31%;
}

.names{
    display: inline-block;
    font-size: 3rem;
    margin: 0% 14%;
}

.align{
    text-align: center;
}
.user{
    padding-left: 12%;
}
.computer{
    padding-left: 5%;
}

.visibility{
    display: none;
}
